# Session & Security
SESSION_SECRET=SLYYUTUS_STATS_DEV_SESSION_SECRET_2026_09_02_CHANGE_LATER
DATABASE_URL=file:./slyyutus.db
ADMIN_USER_ID=0

# Kick Developer API & OAuth credentials (obtain from dev.kick.com)
KICK_CLIENT_ID=01KZVVH1NHDZA5HRN6FQXFMMRZ
KICK_CLIENT_SECRET=a9b6db7c1eb40c246b93092be8e539831599740502497131f6fff81402701c87
KICK_REDIRECT_URI=http://127.0.0.1:3000/auth/callback

# Application Runtime URL
APP_URL=http://localhost:3000
